.btn-download {
    display: inline-block;
    background-color: #10b981; /* Verde moderno para destacar download */
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    transition: background 0.2s;
}

.btn-download:hover {
    background-color: #059669;
}
